<header id="top" class="header">
  <div class="text-vertical-center">
    <!-- <h1>Resource Lab</h1> -->
    <!-- <img class="img-portfolio img-responsive" src="img/FinalLogo.png"> -->
    <h3>&nbsp;</h3>
    <h3>&nbsp;</h3>
    <h3>&nbsp;</h3>
    <h3>&nbsp;</h3>
    <h2 style="color: white; text-shadow: -2px -2px 0 #222, 2px -2px 0 #222, 2px 2px 0 #222, 2px 2px 0 #222; margin: 0 2em;" stroke="black" >Intelligent management of resources through technology and the methods of science with human and environmental concern.</h2>
    <br>
    <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
  </div>
</header>
